- options ||= {}
- url = dropblog_article_permalink_path(article)
- show_comments ||= false

%article{ :class => "#{article.published? ? 'published' : 'draft'} #{Dropblog::Engine.config.article_class}" }
  %header
    %h2
      = link_to article.title, url

    - if can?(:edit, article)
      %aside.admin
        - pub = article.published? ? 'live' : 'draft'
        %h2{ :class => pub }= pub.titleize
        = link_to 'Edit', edit_dropblog_article_path(article)
        - if article.published?
          = link_to 'Unpublish', unpublish_dropblog_article_path(article)
        - else
          = link_to 'Publish', publish_dropblog_article_path(article)

    - if article.user
      %h3
        - if Dropblog::Engine.config.link_to_user
          = link_to article.user.name, article.user
        - else
          = article.user.name

    %h4
      = post_time article

    - unless article.tags.blank?
      %h5 
        %span Tags:
        - article.tags.each do |tag|
          = link_to tag.name.titleize, dropblog_tag_path(:tag => tag_parameter(tag)) 

    %p.social
      - unless Dropblog::Engine.config.facebook_like == false
        = facebook_like_button url
    
  - if options[:excerpt]
    = raw article.excerpt_html
    %footer
      = link_to 'Read more...', url
  - else
    = raw article.html
  
  - if Dropblog::Engine.config.comments and article.allow_comments? and !options[:hide_comments]
    .comments
      = comments url
