- url = articles_path(article)

%article
  %header
    %h2
      = link_to article.title, url
    %h5
      Posted on 
      = article.published_at.to_s(Dropblog::Engine.config.published_at_format)
    %p.social
      - unless Dropblog::Engine.config.facebook_like == false
        = facebook_like_button url
    
  = raw article.html
  
  - if Dropblog::Engine.config.comments and article.allow_comments?
    %section.comments
      = comments url
