- url = articles_path(article)

%article{ :class => article.published? ? 'published' : 'draft' }
  %header
    %h2
      = link_to article.title, url

    - if can?(:edit, article)
      - unless article.published?
        %h3.draft Draft
      = link_to 'Edit', edit_article_path(article)

    %h5
      Posted on 
      = article.published_at.to_s(Dropblog::Engine.config.published_at_format)
    %p.social
      - unless Dropblog::Engine.config.facebook_like == false
        = facebook_like_button url
    
  = raw article.html
  
  - if Dropblog::Engine.config.comments and article.allow_comments?
    %section.comments
      = comments url
